.indexBanner {
  width: 700px;
  box-shadow: 20px 20px 50px grey;  
  margin: auto;
  
}

.index-grid-item {
  background-color: #f1f1f1;
  opacity: 0.9;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  justify-content: space-evenly;
}

#indexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
}

.running-text{
    font-family: Roboto, sans-serif;
    font-size: 20px;   
    position: relative;
    justify-content: space-evenly;
    background-color: rgb(195, 213, 236);
    
}

.running-text p{
    width: 700px;
    height: 25px;
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -moz-animation: bouncing-text 10s linear infinite;
    -webkit-animation: bouncing-text 10s linear infinite;
    animation: bouncing-text 10s linear infinite;
}

.textWrapRight{
    text-emphasis-position: right;
    text-justify: right;
    float:right;
    margin:10px;
}

.textWrapLeft{
    text-justify: left;
    float:left;
    margin:10px;
}

#rotateXDiv {
  opacity: 0.5;
  transform: rotateX(130deg);
}


#rotateYDiv {
opacity: 0.5;  
position:relative;
transform: rotateY(45deg);
}

#rotateZDiv {
  opacity: 0.5;
  position:relative;
  transform: rotateZ(45deg);
}

@-moz-keyframes bouncing-text {
   0% {
        -moz-transform: translateX(50%);
    }
   100% {
        -moz-transform: translateX(-50%);
    }
}

@-webkit-keyframes bouncing-text  {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
}
        
@keyframes bouncing-text  {
    0% {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


