/* header {

}

footer {

} */

body {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: 'Lobster', cursive,'Arial', 'Helvetica', sans-serif;
  font-weight: 100;
  color: rgb(0,125,198);
  text-align: left;
}

h2, h3 {
  font-family: 'Lobster', sans-serif, 'Arial', 'Helvetica';
  font-weight: 100;
  color: rgb(1,80,80);
  background-color: rgb(188,244,244);
  text-align: center;
  padding: 10px;
}

h3 {
  font-family: Lobster, sans-serif;
}

#attractionsTitle {
  margin-left: 20px;
}

p {
  font-family: Roboto, sans-serif;
}

#attractionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.attractionBox {
  margin: 20px;
  justify-content: center;
  max-width: 300px;
}

.attractionImage {
  border-radius: 6px;
  width: 300px;
  height: 200px;
}

.banner {
  text-align: center;
}

.bannerImage {
  width: 500px;
}